@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>@UrlUtilities.URLFriendly("Akdeniz")</h2>
<h2>@UrlUtilities.URLFriendly("Güneydoğu Anadolu")</h2>
<h2>@UrlUtilities.URLFriendly("Iğdır")</h2>
<h2>@UrlUtilities.URLFriendly("Düzce")</h2>
<h2>@UrlUtilities.URLFriendly("Kırşehir")</h2>
